
#myNavbar{
    max-height: 600px !important;
}

/*
@media screen and (max-width: 768px) {
    .dz-main-viewport-div{
        height: 1050px !important;
        overflow-y: auto !important;
    }
}
*/

.navbar-toggle{
    margin-top: 20px !important;
}

body {
    font-size: 16px;
    position: relative;
    height: auto;
    min-height: 100% !important;
    overflow-y: auto !important;
}

.button-and-fields {
    border-radius: 5px !important;
    font-family: 'Open Sans', sans-serif !important;
}

#bookmark-this-hackathon-button{
    margin-top: 10px;
    margin-bottom: 50px;
}

#bookmarked-already{
    margin-top: 10px;
    margin-bottom: 50px;
}

/******************************************************************************/
/*LOGIN PAGE*/
/*BG-Video*/

video {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: fill;
    z-index: -100;
}

.main-video-overlay {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height:1000%;
    width: auto;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    z-index: -1;
}

.login-video-overlay {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height:1000%;
    width: auto;
    height: auto;
    background: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    z-index: -1;
}

/*
#video-box {
    float: left;
}

#video-overlay {
    position:absolute;
    float:left;
    min-width: 100%;
    min-height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

#other-pages-video-overlay {
    position:absolute;
    float:left;
    width: 100%;
    height:100%;
    background: radial-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}

*/

/*
.dz-login-page-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}*/

/*Name & Logo*/
.dz-navbar-top-logo {
    padding-top: 0px;
    margin-top: -5px;
    height: 50px;
    width: auto;
}

.hh-brand {
    font-family: 'Audiowide', cursive;
    font-size: 50px !important;
    margin-top: 14px;
    color: rgb(255, 131, 0) !important;
    padding-top: 30px;
    text-shadow: 3px 3px #d43f3a;
}

.devZoned-Name {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-size: 3em;
    float: left;
}

/*Top Login navbar*/
.dz-navbar-login-top {
    background-color: #4a6491 !important;
    padding: 0px;
    margin: 0px;
    height: 72.5px;
    border: none !important;
}

.dz-navbar-brand {
    color: white !important;
}

.dz-login-credentials{
    width: 150px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.dz-navbar-login-form button {
    margin: 10px !important;
    border-radius: 10px !important;
}

#navbar-login-button a{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 10px;
    width:120px;
    margin-right: 10px !important;
    background-color: rgb(255, 131, 0) !important;
    border-color: rgb(255, 131, 0) !important;
    color: white !important;
}

#navbar-login-button :hover{
    background-color: rgb(235, 118, 0) !important;
    border-color: rgb(255, 131, 0) !important;
}

#navbar-signup-button a{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 10px;
    width:120px;
    background-color: rgb(255, 131, 0) !important;
    border-color: rgb(255, 131, 0) !important;
    color: white !important;
}

#navbar-signup-button :hover{
    background-color: rgb(235, 118, 0) !important;
    border-color: rgb(255, 131, 0) !important;
}

#dz-forgot-password{
    color: white !important;
    padding: 10px;
}

#main-page-brand {
    position: relative;
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    margin-top: 150px;
    color: rgb(255, 131, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 900;
}

.hh-brand-name {
    font-family: 'Audiowide', cursive !important;
    color: rgb(255, 131, 0) !important;
}

hr {
    max-width: 700px;
}

#introduction {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    margin-top: 5vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
}

.blinking-search {
    animation: blinker-search 1s linear infinite;
}

@keyframes blinker-search {
    80% {
        opacity: 0.75
    }
}

#search-button a{
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 5vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
    width: 335px;
    background-color: rgb(255, 131, 0) !important;
    border-color: rgb(55, 56, 94) !important;
}

#search-button :hover {
    background-color: rgb(235, 118, 0) !important;
    border-color: rgb(255, 131, 0) !important;
}

#signup-request {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-top: 5vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
}

#signup-button {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin-top: 1vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#signup-button a{
    width: 150px;
}

#features-link {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-top: 5vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
}

#features-link a{
    color: white;
}

#features-link-text {
    text-decoration: underline;
}

#blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#company-link {
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    margin-top: 5vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 300;
}

#company-link a{
    color: white;
    text-decoration: underline;
}

/**********************************************************************************/

#login-page-login-form {
    position: absolute;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

#login-page-dz-brand {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    color: white;
    text-align: center;
    padding: 15px;
}

#social-login-options {
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#login-page-form-input-elements-div {
    position: relative;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

.input-form-text {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.input-form-fields-text input{
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    padding:5px;
}

.input-form-element-group {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#login-page-forgot-password {
    text-align: right;
}

#login-page-forgot-password a{
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#login-page-login-button {
    margin-top: 3vh;
    text-align: center;
}

/****************************************************************************************/
/*SIGN Up Page*/

#signup-page-signup-form {
    position: absolute;
    margin-top: 17vh;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

#social-signup-options {
    position: relative;
    width: 201px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

#signup-page-form-input-elements-div {
    font-family: "Open Sans", sans-serif;
    position: relative;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

#signup-page-signup-button{
    text-align: center;
    margin-top:3vh;
}

/*******************************************************************************************/
/*Password reset Page*/

#password-reset-page-login-form {
    position: absolute;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

#password-reset-page-hf-brand {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    color: white;
    text-align: center;
    padding: 15px;
}

#password-reset-page-purpose {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px;
}

/******************************************************************************************/
#organization-login {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px;
}

#organization-signup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px;
}
/******************************************************************************************/

/*USER DASHBOARD*/

#navbar-menu-links-div{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    text-align: right;
}

.hh-hamburger{
    margin-top: 20px !important;
}

.hh-navbar-ul li a{
    font-size: 1.25em;
    padding: 8px !important;
    color: rgb(255, 153, 32) !important;
    text-align: center;
    font-weight: bold;
}

#myCollapsibleNavbar{
    background-color: #4a6491;
    z-index: 5000!important;
    position: relative;
    overflow-y: hidden !important;
    margin-top: 17px !important;
}

a .navbar-menu-links {
    color: rgb(255, 131, 0) !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding-right: 20px;
}

.hh-navbar-admin-links{
    color: rgb(255, 153, 32) !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding-right: 20px;
    margin-top: 25px;
}

#navbar-menu-links-div :hover{
    text-decoration: none !important;
    color: rgb(235, 118, 0) !important;
}

#user-dashboard-main-content-upper-margin {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 131, 0);
    margin-top: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#user-dashboard-main-content-upper-margin a{
    margin-top: 20px;
}

#unauthorized-go-back {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 131, 0);
    margin-top: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#hh-friend-search-bar{
    position: relative;
    margin-left: 20vw;
    margin-right: 20vw;
}

#hh-friend-search-bar input {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    height: 34px;
    border-color: white;
    padding-bottom: 4px;
    padding-left: 10px;
}

#hh-friend-search-bar a {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 21%;
}

#user-dashboard-main-content-lower-margin {
    margin-bottom: 75px;
}

#user-dashboard-main-content-div {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

#user-dashboard-news-image img{
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

#user-dashboard-news-heading {
    position: relative;
    float: none;
    height: 100px;
    font-size: 1.5em;
}

#user-dashboard-news-content {
    position: relative;
    float: left;
    margin-top: 2vh;
}
/******************************************************************************************/

.post-text-area {
    position: relative;
    margin-top: 10vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

textarea{
    resize: none !important;
}

.posts-display {
    position: relative;
    margin-top: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}


/******************************************************************************************/

#search-result-main-content-div {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    color: black !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

#search-result-image img{
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

#search-result-heading {
    position: relative;
    float: none;
    height: 100px;
    font-weight: 500;
    font-size: 1.5em;
    padding-top: 30px;
}

#search-result-content {
    position: relative;
}

#bookmark-this-hackathon-button-div{
    position: relative;
    margin-top: 15px;
}

#bookmarked-already-div{
    position: relative;
    margin-top: 15px;
}

.search-result-elements {
    padding: 5px;
    padding-left: 0px !important;
}

#hackathon-url a{
    color: #b9e6e9 !important;
}

.bold-fields {
    font-weight: 700;
}

.centered-message {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.hh-list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 25px !important;
    background-color: #ebebe0;
    border-radius: 5px !important;
    width: 100%;
    z-index: 1;
}

#single-search-result-main-content-div {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

/******************************************************************************************/
#page-error-success-message {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#no-results-found {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}





/******************************************************************************************/
/*MEDIA QUERIES*/
@media all and (min-width: 960px) {
    body{
        font-size: 16px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body{
        font-size: 12px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body{
        font-size: 11px;
    }

    #login-page-login-button a{
        width: 300px;
    }

    #social-login-options {
        width: 300px;
    }

    #social-login-options a{
        width : 300px;
        text-align: center;
        padding-right: 35px;
    }

    #social-signup-options {
        width: 300px;
    }

    #social-signup-options a{
        width : 300px;
        text-align: center;
        padding-right: 35px;
    }

    #navbar-login-button a{
        width: 100px;
    }

    #navbar-signup-button a{
        width: 100px;
    }

}

/****************************************************************************/

#bottom-margin {
    margin-bottom: 75px;
}

#bottom-margin-2 {
    margin-bottom: 75px;
}

.color-bar{
    background-color: #4a6491 !important;
    height: 75px;
}

/****************************************************************************/


#admin-dashboard-main-content{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: rgb(255,131,0);
    position: relative;
    width:100%;
    text-align: left;
}

#admin-dashboard-main-content ul li a{
    width: 100% !important;
}

#admin-dashboard-main-content ul{
    margin-left: 200px;
    margin-right: 200px;
}

@media all and (min-width: 769px) {
    #admin-dashboard-main-content ul{
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media all and (max-width: 959px) and (min-width: 769px) {
    #admin-dashboard-main-content ul{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media all and (max-width: 768px) and (min-width: 399px) {
    #admin-dashboard-main-content ul{
        margin-left: 0px;
        margin-right: 0px;
    }
}

#admin-dashboard-main-contents-div {
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    color: black;
}

.hh-list-group-heading{
    background-color: rgb(255,131,0) !important;
    border-color: rgb(255,131,0) !important;
    font-weight: bold;
}

/****************************************************************************/

.organizer-home-post-hackathon-button{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 131, 0);
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.organizer-home-post-hackathon-button a{
    margin-top: 10px;
}

#organizer-dashboard-main-content-div{
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
}

#friend-search-main-content-div{
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 35px;
}

#network-main-div{
    position: relative;
    width: 78%;
    margin-left: 10vw;
    margin-right: 10vw;
}

#network-followers{
    position: relative;
    width : 50%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 35px;
}

#network-following{
    position: relative;
    width : 50%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    margin-top: 35px;
}

#network-followers ul li{
    width:200%;
    margin-left: 10px;
    margin-right: 10px;
}

#network-following ul li{
    width:200%;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 930px){

    .hh-hamburger{
        display: inline !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 930px){

    .hh-hamburger{
        margin-right: -85vw !important;
    }

}

#your-following-header{
    font-size: larger;
}

#your-followers-header{
    font-size: larger;
}









/**********************************************************************
/**********************************************************************
 */
/*Nav bar Style*/


.navbar{
    background-color: rgb(74,100,145) !important;
    height:75px;
}


.navbar-inverse .navbar-nav>li>a {
    color: rgb(255,131,0) !important;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
}
.navbar-nav>li>ul>li>a {
    color: rgb(255, 131, 0) !important;
}

.navbar-nav>li>ul>li>a:hover{
    border-left: 5px solid rgb(255, 131, 0) !important;
    background-color:  rgb(74,100,145) !important;
}

@media screen and (max-width:768px) {
    .navbar-nav>li>a:hover {
        border-top: none !important;
        border-left: 5px solid rgb(255, 131, 0) !important;
        border-bottom: none !important;
    }
}

.navbar-nav>li>ul{
    color: rgb(255,131,0) !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:  rgb(74,100,145) !important;
    margin-top: 5px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    border-bottom: 5px solid;
    padding-bottom: 15px;
    border-color: rgb(255,131,0) !important;
}

.navbar-inverse .navbar-brand {
    color: rgb(255,131,0) !important;
    font-weight: bold;
    padding:13px;
}

.navbar-nav{
    background-color:  rgb(74,100,145) !important;
    z-index: 1000;
    position: relative;
}

/**********************************************************************
/**********************************************************************/

#poster-name{
    background-color: rgb(74,100,145);
    color: rgb(255,131,0);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 0px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#poster-name a{
    font-size: 1.5em;
    color: rgb(255,131,0);
}

#posted-date{
    padding-top: 1px;
    padding-right: 10px;
    color: white;
    font-style: italic;
    font-size: 0.9em;
}

#delete-post-button {
    padding: 0px;
}

#delete-post-button a{
    margin-left: 40px;
    font-size: 1.1em;
    color: white !important;
    padding: 4px !important;
    margin-top: -4px;
    margin-right: -5px;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

#posted-content{
    padding-left: 20px;
}

#user-feed-list-group-item{
    position: relative;
    display: block;
    margin-bottom: 25px !important;
    background-color: #ebebe0;
    border-radius: 5px !important;
    width: 100%;
    z-index: 1;
    padding:0px 0px 0px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media screen and (max-width:840px) {
    #search-result-image {
        display: none;
    }

    #search-result-heading{
        height: 50px;
        padding-top: 0px;
    }
}

.friend-finder-individual-result-padding{
    padding-top: 7px;
}

#hackathon-description{
    text-align: justify;
}

#search-result-link-url a{
    color: #0fb2ff;
}

#admin-check-box {
    width: 27px;
}

.admin-li-rows{
    padding-top: 7px;
}

#feature-para{
    font-family: "Open Sans", sans-serif;
    width: 60%;
    color: white;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 20px;
}

.features-icons{
    margin: 5px !important;
    float: left;
    position: relative;
}

#feature-search:before{
    margin-right: 22px !important;
}

#feature-bookmark:before{
    margin-right: 25px !important;
    padding-left: 6px;
}

#feature-friend:before{
    margin-right: 9px !important;
}

#feature-event:before{
    margin-right: 20px !important;
}

#features-page-brand{
    position: relative;
    width: 100%;
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    margin-top: 100px;
    color: rgb(255, 131, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 900;
}

#features-read-button{
    margin-left: 77px;
}