<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user/{{model.currentUser._id}}">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1">
                    <a href="#/admin">
                        Admin
                    </a>
                </li>
                <li><a href="#/user/{{model.currentUser._id}}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" target="_self">Hackathons<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/{{model.currentUser._id}}/search">Search</a></li>
                        <li><a href="#/user/{{model.currentUser._id}}/bookmarks">Bookmarks</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" target="_self">Network<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/{{model.currentUser._id}}/friend">Find hackers</a></li>
                        <li><a href="#/user/{{model.currentUser._id}}/network">Hackers</a></li>
                    </ul>
                </li>
                <li><a href="#/user/{{model.currentUser._id}}/profile">Profile</a></li>
                <li><a href="#" ng-click="model.logout(model.currentUser)">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    YOUR BOOKMARKED HACKATHONS
</div>

<div id="page-error-success-message" ng-show="!model.bookmarks || model.bookmarks.length==0">
    <br>You currently do not have any bookmarked hackathons
</div>

<div id="search-result-main-content-div">
    <ul class="list-group">
        <li ng-repeat="hackathon in model.bookmarks"
            class="list-group-item hh-list-group-item">

            <div id="search-result-image"
                 class="search-result-elements">
                <img src="../../../../content/images/hhLogo.png">
            </div>

            <div id="search-result-heading"
                 class="search-result-elements">
                {{hackathon.name}}
            </div>

            <div id="search-result-start-time"
                 class="search-result-elements">
                <span class="bold-fields">Start Time:</span> {{hackathon.start_timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}
            </div>

            <div id="search-result-end-time"
                 class="search-result-elements">
                <span class="bold-fields">End Time:</span> &nbsp {{hackathon.finish_timestamp *1000| date:'yyyy-MM-dd HH:mm:ss'}}
            </div>

            <div id="search-result-full-address"
                 class="search-result-elements">
                <span class="bold-fields">Address:</span> &nbsp&nbsp&nbsp {{hackathon.full_address}}
            </div>

            <div id="search-result-link-url"
                 class="search-result-elements">
                <span class="bold-fields">URL:</span>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href={{hackathon.public_url}} target="_blank">{{hackathon.public_url}}</a>
            </div>

            <div id="search-result-content"
                 class="search-result-elements">
                <span class="bold-fields">Description:</span>
                <div>{{hackathon.description}}</div>
            </div>
        </li>
    </ul>
</div>
