<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle hh-hamburger"
                    data-toggle="collapse"
                    data-target="#myCollapsibleNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myCollapsibleNavbar">
            <ul class="nav navbar-nav hh-navbar-ul">
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/home">Home</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/search">Search Hackathons</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/bookmarks">Bookmarks</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/profile">Profile</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/network">Network</a></li>
                <li><a class="navbar-menu-links" href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    USERS IN YOUR NETWORK
</div>

<div id="user-dashboard-main-content-div">

    <div id="user-dashboard-news-image">
        <img src="../../../../content/images/hhLogo.png">
    </div>

    <div id="user-dashboard-news-heading">
        NETWORK
    </div>

    <div id="user-dashboard-news-content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>

</div>


