<!--BG Video-->
<div class="login-video-overlay"></div>

<!--Navigation Bar-->
<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">

        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>

        <div id="navbar-menu-links-div">
            <a class="navbar-menu-links" href="#/user/{{model.uid}}/home">Home</a>

            <a class="navbar-menu-links" href="#/user/{{model.uid}}/search">Search Hackathons</a>

            <a class="navbar-menu-links" href="#/user/{{model.uid}}/bookmarks">Bookmarks</a>

            <a class="navbar-menu-links" href="#/user/{{model.uid}}/profile">Profile</a>

            <a class="navbar-menu-links" href="#/user/{{model.uid}}/network">Network</a>

            <a class="navbar-menu-links">Logout</a>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    SEARCH RESULTS
</div>

<div id="search-result-main-content-div">

    <ul class="list-group">
        <li ng-repeat="h in model.hackathons | orderBy: 'start_timestamp'"
            class="list-group-item hh-list-group-item">

            <div id="search-result-image"
                 class="search-result-elements">
                <img src="../../../../content/images/hhLogo.png">
            </div>

            <div id="search-result-heading" class="search-result-elements">
                <a href="" ng-click="model.searchByHackathonId(h.id, h._id)">{{h.name}}</a>
            </div>

            <div id="search-result-start-time"
                 class="search-result-elements">
                <span class="bold-fields">Start Time:</span> {{h.start_timestamp * 1000| date:'yyyy-MM-dd HH:mm:ss'}}
            </div>

            <div id="search-result-end-time"
                 class="search-result-elements">
                <span class="bold-fields">End Time:</span> &nbsp {{h.finish_timestamp *1000| date:'yyyy-MM-dd HH:mm:ss'}}
            </div>

            <div id="search-result-full-address"
                 class="search-result-elements">
                <span class="bold-fields">Address:</span> &nbsp&nbsp&nbsp {{h.full_address}}
            </div>

            <div id="search-result-link-url"
                 class="search-result-elements">
                <span class="bold-fields">URL:</span>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href={{h.public_url}} target="_blank">{{h.public_url}}</a>
            </div>

            <!--div id="search-result-content"
                 class="search-result-elements">
                {{organizer.description}}
            </div-->

        </li>
    </ul>

</div>


