<div class="login-video-overlay"></div>
<video playsinline autoplay muted loop poster="../../../../content/images/BGPic.png">
    <source src="../../../../content/videos/coding.mp4" type="video/mp4">
</video>

<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">
        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>
        <!--login elements-->
        <div id="navbar-signup-button" class="pull-right">
            <a class="btn btn-default button-and-fields">Sign up</a>
        </div>

        <div id="navbar-login-button" class="pull-right">
            <a class="btn btn-default button-and-fields">Login</a>
        </div>
    </div>
</nav>

<div id="signup-page-signup-form">
    <div id="login-page-dz-brand" class="hh-brand-name">Hackathon Hawk</div>

    <div id="page-error-success-message">{{model.error}}</div>

    <div id="social-signup-options">
        <a class="btn btn-block btn-social btn-facebook button-and-fields">
            <span class="fa fa-facebook-square"></span>Signup with Facebook
        </a>
    </div>

    <form id="signup-page-form-input-elements-div">
        <div class="input-form-element-group">
            <div class="input-form-text">First Name</div>
            <div class="input-form-fields-text">
                <input ng-model="user.firstName"
                        class="button-and-fields" type="text" placeholder="Jane">
            </div>
        </div>

        <div class="input-form-element-group">
            <div class="input-form-text">Last Name</div>
            <div class="input-form-fields-text">
                <input ng-model="user.lastName" class="button-and-fields" type="text" placeholder="Doe">
            </div>
        </div>

        <div class="input-form-element-group">
            <div class="input-form-text">Username</div>
            <div class="input-form-fields-text">
                <input ng-model="user.username" class="button-and-fields" type="text" placeholder="jdoe">
            </div>
        </div>

        <div class="input-form-element-group">
            <div class="input-form-text">Email id</div>
            <div class="input-form-fields-text">
                <input ng-model="user.email" class="button-and-fields" type="email" placeholder="jdoe@example.com">
            </div>
        </div>

        <div class="input-form-element-group">
            <div class="input-form-text">Password</div>
            <div class="input-form-fields-text">
                <input ng-model="user.password" class="button-and-fields" type="password" placeholder="**********">
            </div>
        </div>

        <div id="signup-page-signup-button"
             class="input-form-element-group">
            <a ng-click="model.signup(user)" class="button-and-fields btn btn-success">
                Create Account
            </a>
        </div>
    </form>
</div>