<!--BG Video-->
<div class="login-video-overlay"></div>

<!--Navigation Bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1">
                    <a href="#/admin">
                        Admin
                    </a>
                </li>
                <li><a href="#/user">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" target="_self">Hackathons<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/search">Search</a></li>
                        <li><a href="#/user/bookmarks">Bookmarks</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" target="_self">Network<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/friend">Find hackers</a></li>
                        <li><a href="#/user/network">Hackers</a></li>
                    </ul>
                </li>
                <li><a href="#/user/profile">Profile</a></li>
                <li><a href="" ng-click="model.logout(model.currentUser)">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    HACKATHON DETAILS
</div>

<div id="single-search-result-main-content-div">

    <div id="search-result-image"
         class="search-result-elements">
        <img src="../../../../content/images/hhLogo.png">
    </div>

    <div id="search-result-heading"
         class="search-result-elements">
        {{model.hackathon.name}}
    </div>

    <div class="search-result-elements"
         ng-if="!model.hackathon.id">
        <span class="bold-fields">Start Time:</span>&nbsp&nbsp{{model.hackathon.start_timestamp}}
    </div>

    <div class="search-result-elements"
         ng-if="model.hackathon.id">
        <span class="bold-fields">Start Time:</span>&nbsp&nbsp{{model.hackathon.start_timestamp * 1000| date:'yyyy/MM/dd HH:mm'}}
    </div>

    <div class="search-result-elements"
         ng-if="!model.hackathon.id">
        <span class="bold-fields">End Time:&nbsp&nbsp&nbsp</span>{{model.hackathon.finish_timestamp}}
    </div>

    <div class="search-result-elements"
         ng-if="model.hackathon.id">
        <span class="bold-fields">End Time:&nbsp&nbsp&nbsp</span>{{model.hackathon.finish_timestamp *1000| date:'yyyy/MM/dd HH:mm'}}
    </div>
    <div id="search-result-full-address"
         class="search-result-elements">
        <span class="bold-fields">Address:</span> &nbsp&nbsp&nbsp {{model.hackathon.full_address}}
    </div>

    <div id="search-result-link-url"
         class="search-result-elements">
        <span class="bold-fields">URL:</span>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href={{model.hackathon.public_url}} target="_blank">{{model.hackathon.public_url}}</a>
    </div>

    <div id="search-result-content"
         class="search-result-elements">
        <span class="bold-fields">Description:</span>
        <div id="hackathon-description">{{model.hackathon.description}}</div>
    </div>

    <div>

    </div>

    <div ng-show="model.currentUser.bookmarks.indexOf(model.hackathon._id)==-1"
         id="bookmark-this-hackathon-button-div" class="search-result-elements">
        <a ng-click="model.bookmark(model.hackathon)"
           class="button-and-fields btn btn-info btn-block"
           id="bookmark-this-hackathon-button">
            Bookmark this Hackathon
        </a>
    </div>

    <div ng-show="model.currentUser.bookmarks.indexOf(model.hackathon._id)>-1"
         id="bookmarked-already-div" class="search-result-elements">
        <a ng-click="model.unbookmark(model.hackathon)"
           class="button-and-fields btn btn-success btn-block"
           id="bookmarked-already">
            Remove Bookmark
        </a>
    </div>

</div>


