<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle hh-hamburger"
                    data-toggle="collapse"
                    data-target="#myCollapsibleNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myCollapsibleNavbar">
            <ul class="nav navbar-nav hh-navbar-ul">
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/home">Home</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/search">Search Hackathons</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/bookmarks">Bookmarks</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/profile">Profile</a></li>
                <li><a class="navbar-menu-links" href="#/user/{{model.uid}}/network">Network</a></li>
                <li><a class="navbar-menu-links" href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    <span ng-hide="model.allPosts">Welcome, {{model.user.username}}<br></span><br>
    YOUR FEED
</div>

<div ng-hide="model.allPosts" id="page-error-success-message">
    There is no feed to show. Bookmark a hackathon or two to get updates!
</div>

<div ng-show="model.allPosts"
     id="user-dashboard-main-content-div">

    <ul class="list-group">
        <li ng-repeat="p in model.allPosts"
            class="list-group-item hh-list-group-item">

            <div>
                Posted by: {{p.posterName}}
            </div>

            <div class="posts-display">
                Date: {{p.dateCreated}}
            </div>

            <div>
                Content: {{p.postcontent}}
            </div>

        </li>
    </ul>

</div>


