<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user/{{model.currentUser._id}}">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.currentUser._id}}">Back to User Home</a>
                </li>
                <li>
                    <a href="#/admin/user">Manage Users</a>
                </li>
                <li>
                    <a href="#/admin/organizer">Manage Organizers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    ADMIN PANEL<br><br>
    Quick Stats
</div>

<div class="container-fluid" id="admin-dashboard-main-content">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-5">
                    No. of Users in DB:
                </div>
                <div class="col-xs-2">
                    {{model.usersNumber}}
                </div>
                <div class="col-xs-5">
                    <a class="btn btn-info" ng-click="model.manageUsers()" >Manage Users</a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-5">
                    No. of Organizers in DB:
                </div>
                <div class="col-xs-2">
                    {{model.organizersNumber}}
                </div>
                <div class="col-xs-5">
                    <a class="btn btn-info" ng-click="model.manageOrganizers()" >Manage Organizers</a>
                </div>
            </div>
        </li>

    </ul>
</div>


