<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
        <a href="#/admin" class="hh-navbar-admin-links pull-right">Admin Panel</a>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    ADMIN - ORGANIZER MANAGEMENT PANEL
</div>

<div class="container-fluid" id="admin-dashboard-main-contents-div">
    <ul class="list-group">
        <li class="list-group-item hh-list-group-heading">
            <div class="row">
                <div class="col-xs-4">
                    Organizer Name
                </div>
                <div class="col-xs-4">
                    Email
                </div>
                <div class="col-xs-4">
                    Manage
                </div>
            </div>
        </li>

        <li ng-repeat="organizer in model.organizers" class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    {{organizer.organizername}}
                </div>
                <div class="col-xs-4">
                    {{organizer.email}}
                </div>
                <div class="col-xs-3">
                    <a ng-click="model.editOrganizer(organizer._id)"
                       class="btn btn-info button-and-fields">Edit</a>
                    <a ng-click="model.deleteOrganizer(organizer._id)"
                       class="btn btn-danger button-and-fields">Delete</a>
                </div>
            </div>
        </li>
    </ul>
</div>