<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user/{{model.currentUser._id}}">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.currentUser._id}}">User Home</a>
                </li>
                <li>
                    <a href="#/admin">Admin Home</a>
                </li>
                <li>
                    <a href="#/admin/user">Manage Users</a>
                </li>
                <li>
                    <a href="#/admin/organizer">Manage Organizers</a>
                </li>
                <li><a href="#" ng-click="model.logout(model.currentUser)">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    ADMIN - ORGANIZER MANAGEMENT PANEL
    <br><br>
    <span ng-show="model.organizers.length==0">
        No organizers to show
    </span>
</div>


<div ng-show="model.organizers.length>0"
        class="container-fluid"
        id="admin-dashboard-main-contents-div">
    <ul class="list-group">
        <li class="list-group-item hh-list-group-heading">
            <div class="row">
                <div class="col-xs-4">
                    Organizer Name
                </div>
                <div class="col-xs-4">
                    Email
                </div>
                <div class="col-xs-4">
                    Manage
                </div>
            </div>
        </li>

        <li ng-repeat="organizer in model.organizers" class="list-group-item">
            <div class="row">
                <div class="col-xs-4 admin-li-rows">
                    {{organizer.organizername}}
                </div>
                <div class="col-xs-4 admin-li-rows">
                    {{organizer.email}}
                </div>
                <div class="col-xs-3">
                    <a ng-click="model.editOrganizer(organizer._id)"
                       class="btn btn-info button-and-fields">Edit</a>
                    <a ng-click="model.deleteOrganizer(organizer._id)"
                       class="btn btn-danger button-and-fields">Delete</a>
                </div>
            </div>
        </li>
    </ul>
</div>