<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user/{{model.currentUser._id}}">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.currentUser._id}}">Back to User Home</a>
                </li>
                <li>
                    <a href="#/admin/user">Manage Users</a>
                </li>
                <li>
                    <a href="#/admin/organizer">Manage Organizers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    EDIT ORGANIZER INFO
</div>

<div id="user-dashboard-main-content-div">
    <form>
        <div class="form-group">
            <label>Organizer Name</label>
            <input ng-model="model.organizer.organizername"
                   type="text"
                   class="form-control"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label>Organizer Name</label>
            <input ng-model="model.organizer.email"
                   type="text"
                   class="form-control"
                   placeholder="Username">
        </div>
    </form>

    <div ng-show="model.error" id="page-error-success-message">
        {{model.error}}
    </div>

    <a class="btn btn-success btn-block button-and-fields"
       ng-click="model.editOrganizer(model.organizer)">Edit Organizer Info</a>

    <a class="btn btn-danger btn-block button-and-fields"
       href="#/admin/organizer/">Cancel
    </a>

    <div id="user-dashboard-main-content-lower-margin"></div>
</div>