<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/user/{{model.currentUser._id}}">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/user/{{model.currentUser._id}}">Back to User Home</a>
                </li>
                <li>
                    <a href="#/admin/user">Manage Users</a>
                </li>
                <li>
                    <a href="#/admin/organizer">Manage Organizers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    ADMIN - USER MANAGEMENT PANEL
</div>

<div class="container-fluid" id="admin-dashboard-main-contents-div">
    <ul class="list-group">
        <li class="list-group-item hh-list-group-heading">
            <div class="row">
                <div class="col-xs-3">
                    Username
                </div>
                <div class="col-xs-3">
                    Email
                </div>
                <div class="col-xs-3">
                    Roles
                </div>
                <div class="col-xs-3">
                    Manage
                </div>
            </div>
        </li>

        <li ng-repeat="user in model.users" class="list-group-item">
            <div class="row">
                <div class="col-xs-3">
                    {{user.username}}
                </div>
                <div class="col-xs-3">
                    {{user.email}}
                </div>
                <div class="col-xs-3">
                    {{user.roles}}
                </div>
                <div class="col-xs-3">
                    <a ng-click="model.editUser(user._id)"
                       class="btn btn-info button-and-fields">Edit</a>
                    <a ng-click="model.deleteUser(user._id)"
                       class="btn btn-danger button-and-fields">Delete</a>
                </div>
            </div>
        </li>
    </ul>
</div>