<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle hh-hamburger"
                    data-toggle="collapse"
                    data-target="#myCollapsibleNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myCollapsibleNavbar">

        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    ADMIN - USER PROFILE EDITOR PANEL
</div>

<div id="user-dashboard-main-content-div">

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="model.user.password"
                   id="password"
                   type="password"
                   class="form-control"
                   placeholder="Password"/>
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="Email id">
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name"
                   placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name"
                   placeholder="Last Name">
        </div>

        <div class="form-group">
            <label>Bio</label>
            <textarea ng-model="model.user.bio"
                      rows="5"
                      id="biography"
                      class="button-and-fields form-control"
                      placeholder="Short biography">
            </textarea>
        </div>
    </form>

    <a class="btn btn-success btn-block button-and-fields"
       ng-click="model.updateProfile(model.user)">Update User Profile</a>

    <a class="btn btn-danger btn-block button-and-fields"
       href="#/admin/user">Cancel</a>

</div>


