<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle hh-hamburger"
                    data-toggle="collapse"
                    data-target="#myCollapsibleNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    You are not authorized to view this page.<br>
    Please go back to <a href="#/">HOME</a>
</div>


