<!--BG Video-->
<div class="main-video-overlay"></div>
<video playsinline autoplay muted loop poster="../../../../content/images/web-background.jpeg">
    <source src="../../../../content/videos/coding.mp4" type="video/mp4">
</video>

<!--Navigation Bar-->
<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">

        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>

        <!--login elements-->
        <div id="navbar-signup-button" class="pull-right">
            <a class="btn btn-default button-and-fields" href="#/signup">Sign up</a>
        </div>

        <div id="navbar-login-button" class="pull-right">
            <a class="btn btn-default button-and-fields" href="#/login">Login</a>
        </div>
    </div>
</nav>

<div id="main-page-brand" class="hh-brand-name">
    Hackathon Hawk
</div>

<div id="introduction">
    Find and follow hackathons, get updates, share with other users and more!
</div>

<div id="search-button" class="blinking-search">
    <a class="btn btn-block btn-info button-and-fields">
        <span class="fa fa-search"></span>
        Search upcoming hackathons
    </a>
</div>

<div id="signup-request">
    Not onboard yet?
</div>

<div id="signup-button">
    <a class="btn btn-success" href="#/signup">Sign Up</a>
</div>

<div id="features-link">
    <a><span id="features-link-text">What's in it for me</span> <span id="blinking">?</span></a>
</div>

<div id="company-link">
    Want to post a hackathon?
    <a href="#/organization-login">Login</a> or
    <a href="#/organization-signup">Signup</a> here
</div>


