<div class="login-video-overlay"></div>
<video playsinline autoplay muted loop poster="../../../../content/images/BGPic.png">
    <source src="../../../../content/videos/coding.mp4" type="video/mp4">
</video>


<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">
        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>
    </div>
</nav>

<div id="login-page-login-form">
    <div id="login-page-dz-brand" class="hh-brand-name">Hackathon Hawk</div>
    <div id="organization-login">Organization Login</div>
    <form id="login-page-form-input-elements-div">
        <div class="input-form-element-group">
            <div class="input-form-text">Organization Name/Email id</div>
            <div class="input-form-fields-text">
                <input placeholder="Organization Name/Email id" class="button-and-fields" type="text">
            </div>
        </div>
        <div class="input-form-element-group">
            <div class="input-form-text">Password</div>
            <div class="input-form-fields-text">
                <input placeholder="password" class="button-and-fields" type="password">
            </div>
        </div>
        <div id="login-page-forgot-password">
            <a href="#/password-reset">Forgot password?</a>
        </div>
        <div id="login-page-login-button" class="input-form-element-group">
            <a class="button-and-fields btn btn-success">Organization Login</a>
        </div>
    </form>
</div>

