<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/organizer/{{model.oid}}">Home</a></li>
                <li><a href="#/organizer/{{model.oid}}/hackathon/edit">Edit Hackathon</a></li>
                <li><a href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div id="user-dashboard-main-content-upper-margin">
    POST A NEW HACKATHON
</div>

<div id="user-dashboard-main-content-div">
    <form>
        <div class="form-group">
            <label>Hackathon Name</label>
            <input ng-model="model.organizer.name"
                   type="text"
                   class="form-control"
                   placeholder="Username">
        </div>

        <div class="form-group">
            <label>Start Time</label>
            <input ng-model="model.organizer.start_timestamp"
                   type="text"
                   class="form-control"
                   placeholder="mm/dd/yyyy hh:mm AM/PM"/>
        </div>

        <div class="form-group">
            <label>End Time</label>
            <input ng-model="model.organizer.finish_timestamp"
                   type="text"
                   class="form-control"
                   placeholder="mm/dd/yyyy hh:mm AM/PM">
        </div>

        <div class="form-group">
            <label>Full Address</label>
            <input ng-model="model.organizer.full_address"
                   type="text"
                   class="form-control"
                   placeholder="Street Address, City/Town, County/Province, State, Country, Postal code">
        </div>

        <div class="form-group">
            <label>Hackathon Web Page URL</label>
            <input ng-model="model.organizer.public_url"
                   type="text"
                   class="form-control"
                   placeholder="http://www.example.com/hackathon-name">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="model.organizer.description"
                      rows="5"
                      id="biography"
                      class="button-and-fields form-control"
                      placeholder="Other details">
            </textarea>
        </div>
    </form>

    <div ng-show="model.error" id="page-error-success-message">
        {{model.error}}
    </div>

    <a class="btn btn-success btn-block button-and-fields"
       ng-click="model.createHackathon(model.organizer)">Post Hackathon</a>

    <a class="btn btn-danger btn-block button-and-fields"
       href="#/organizer/{{model.oid}}">Cancel</a>

    <div id="user-dashboard-main-content-lower-margin"></div>

</div>

