<div class="login-video-overlay"></div>

<!--nav class="navbar navbar-inverse color-bar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle hh-hamburger"
                    data-toggle="collapse"
                    data-target="#myCollapsibleNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="hh-brand navbar-brand" href="#">
                hh
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myCollapsibleNavbar">
            <ul class="nav navbar-nav hh-navbar-ul">
                <li><a class="navbar-menu-links" href="#/organizer/{{model.hackathonId}}">Home</a></li>
                <li><a class="navbar-menu-links" href="#/organizer/{{model.hackathonId}}/hackathon/edit">Edit Info</a></li>
                <li><a class="navbar-menu-links" href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/organizer/{{model.hackathonId}}">Home</a></li>
                <li><a href="#/organizer/{{model.hackathonId}}/hackathon/edit">Edit Hackathon</a></li>
                <li><a href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ng-show="model.hackathon" id="user-dashboard-main-content-upper-margin">
    YOUR HACKATHON
</div>

<div ng-hide="model.hackathon"
        class="organizer-home-post-hackathon-button">
    <div>You don't organize a hackathon yet.</div>
    <div>Click below to begin</div>
    <div><a href="#/organizer/{{model.hackathonId}}/hackathon" class="btn btn-default">Post a Hackathon</a></div>
</div>

<div ng-show="model.hackathon"
     id="organizer-dashboard-main-content-div">

    <div id="user-dashboard-news-image" class="search-result-elements">
        <img src="../../../../content/images/hhLogo.png">
    </div>

    <div id="user-dashboard-news-heading" class="search-result-elements">
        {{model.hackathon.name}}
    </div>

    <div class="search-result-elements">
        <span class="bold-fields">Start Time:</span>
        &nbsp&nbsp
        {{model.hackathon.start_timestamp | date}} | {{model.hackathon.start_timestamp | date: 'mediumTime'}}
    </div>

    <div class="search-result-elements">
        <span class="bold-fields">End Time:</span>
        &nbsp&nbsp&nbsp&nbsp
        {{model.hackathon.finish_timestamp | date}} | {{model.hackathon.finish_timestamp | date: 'mediumTime'}}
    </div>

    <div class="search-result-elements">
        <span class="bold-fields">Full Address:</span>
        {{model.hackathon.full_address}}
    </div>

    <div class="search-result-elements" id="hackathon-url">
        <span class="bold-fields">URL:</span>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href={{model.hackathon.public_url}}>{{model.hackathon.public_url}}</a>
    </div>

    <div id="user-dashboard-news-content" class="search-result-elements">
        <span class="bold-fields">Description:</span>
        {{model.hackathon.description}}
    </div>
</div>

<div id="bottom-margin"></div>

<div ng-show="model.hackathon"
        id="search-result-main-content-div">

    <div class="form-group post-text-area">
        <label>Post updates here:</label>
        <textarea ng-model="post.postcontent" class="form-control" rows="5"></textarea>
        <a ng-click="model.submitPost(post)" class="btn btn-success pull-right">POST</a>
    </div>

    <div id="bottom-margin"></div>

    <!--ul class="list-group">
        <li ng-repeat="p in model.posts"
            class="list-group-item hh-list-group-item">
            <div>
                <span class="bold-fields">Posted by:</span>
                {{p.posterName}}
            </div>
            <div>
                <span class="bold-fields">Posted on:</span>
                {{p.dateCreated}}
            </div>
            <div>
                <span class="bold-fields">Content:</span>
                {{p.postcontent}}
            </div>
        </li>
    </ul-->

    <ul class="list-group">
        <li id="user-feed-list-group-item"
            ng-repeat="p in model.posts | orderBy: '-dateCreated'"
            class="list-group-item">

            <div id="poster-name" class="posts-display">
                                   {{p.posterName}}

                <span id="delete-post-button">
                    <a href="" ng-click="model.deletePost(p)"
                            class="btn-danger pull-right button-and-fields">
                        Delete Post
                    </a>
                </span>

                <span id="posted-date" class="pull-right">
                    posted on: {{p.dateCreated | date:'medium'}}
                </span>
            </div>

            <div id="posted-content" class="posts-display">
                {{p.postcontent}}
            </div>
        </li>
    </ul>

</div>