<div class="login-video-overlay"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hh-brand" href="#/organizer">hh</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/organizer">Home</a></li>
                <li><a href="#/organizer/hackathon/edit">Edit Hackathon</a></li>
                <li><a href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="user-dashboard-main-content-upper-margin">
    EDIT ORGANIZER & HACKATHON INFO
</div>

<div id="user-dashboard-main-content-div">
    <form>
        <div class="form-group">
            <label>Organizer Username</label>
            <input ng-model="model.organizer.username"
                   type="text"
                   class="form-control"
                   placeholder="Username">
        </div>

        <div class="form-group">
            <label>Organizer Password</label>
            <input ng-model="model.organizer.password"
                   type="password"
                   class="form-control"
                   placeholder="password">
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input ng-model="model.organizer.retypePassword"
                   type="password"
                   class="form-control"
                   placeholder="confirm password">
        </div>

        <div class="form-group">
            <label>Organizer Email</label>
            <input ng-model="model.organizer.email"
                   type="email"
                   class="form-control"
                   placeholder="Email">
        </div>

        <div class="form-group">
            <label>Hackathon Name</label>
            <input ng-model="model.organizer.name"
                   type="text"
                   class="form-control"
                   placeholder="Hackathon Event Name">
        </div>

        <div class="form-group">
            <label>Start Time</label>
            <input ng-model="model.organizer.start_timestamp"
                   type="text"
                   class="form-control"
                   placeholder="mm/dd/yyyy hh:mm AM/PM"/>
        </div>

        <div class="form-group">
            <label>End Time</label>
            <input ng-model="model.organizer.finish_timestamp"
                   type="text"
                   class="form-control"
                   placeholder="mm/dd/yyyy hh:mm AM/PM">
        </div>

        <div class="form-group">
            <label>Full Address</label>
            <input ng-model="model.organizer.full_address"
                   type="text"
                   class="form-control"
                   placeholder="Street Address, City/Town, County/Province, State, Country, Postal code">
        </div>

        <div class="form-group">
            <label>Hackathon Web Page URL</label>
            <input ng-model="model.organizer.public_url"
                   type="text"
                   class="form-control"
                   placeholder="http://www.example.com/hackathon-name">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="model.organizer.description"
                      rows="5"
                      id="biography"
                      class="button-and-fields form-control"
                      placeholder="Other details">
            </textarea>
        </div>
    </form>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{model.error}}
    </div>

    <a class="btn btn-success btn-block button-and-fields"
       ng-click="model.editHackathon(model.organizer)">Edit Hackathon Info</a>

    <a class="btn btn-danger btn-block button-and-fields"
       href="#/organizer">Cancel
    </a>

    <div id="user-dashboard-main-content-lower-margin"></div>

</div>