<div class="login-video-overlay"></div>
<video playsinline autoplay muted loop poster="../../../../content/images/BGPic.png">
    <source src="../../../../content/videos/coding.mp4" type="video/mp4">
</video>


<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">
        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>
        <!--login elements-->
        <div id="navbar-signup-button" class="pull-right">
            <a class="btn btn-default button-and-fields" href="#/signup">Sign up</a>
        </div>

        <div id="navbar-login-button" class="pull-right">
            <a class="btn btn-default button-and-fields" href="#/login">Login</a>
        </div>
    </div>
</nav>

<div id="login-page-login-form">
    <div id="login-page-dz-brand" class="hh-brand-name">Hackathon Hawk</div>

    <div id="social-login-options">
        <a class="btn btn-block btn-social btn-google button-and-fields">
            <span class="fa fa-google-plus-square"></span>Login with Google
        </a>
        <a class="btn btn-block btn-social btn-facebook button-and-fields">
            <span class="fa fa-facebook-square"></span>Login with Facebook
        </a>
        <a class="btn btn-block btn-social btn-linkedin button-and-fields">
            <span class="fa fa-linkedin-square"></span>Login with LinkedIn
        </a>
    </div>

    <form id="login-page-form-input-elements-div">
        <div class="input-form-element-group">
            <div class="input-form-text">Username or email</div>
            <div class="input-form-fields-text">
                <input placeholder="username or email" class="button-and-fields" type="text">
            </div>
        </div>
        <div class="input-form-element-group">
            <div class="input-form-text">Password</div>
            <div class="input-form-fields-text">
                <input placeholder="password" class="button-and-fields" type="password">
            </div>
        </div>
        <div id="login-page-forgot-password">
            <a href="#/password-reset">Forgot password?</a>
        </div>
        <div id="login-page-login-button" class="input-form-element-group">
            <a class="button-and-fields btn btn-success">Login</a>
        </div>
    </form>
</div>

