<div class="login-video-overlay"></div>

<nav class="navbar navbar-default navbar-fixed-top dz-navbar-login-top">
    <div class="container-fluid">
        <!--logo & name-->
        <div class="navbar-header col-md-4 col-sm-4 col-xs-2">
            <a class="navbar-brand hh-brand" href="#/">
                hh
            </a>
            <!--div class="devZoned-Name">devZoned</div-->
        </div>

            <a>Home</a>

            <a>Home</a>

            <a>Home</a>

    </div>
</nav>


